@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&family=Kumbh+Sans&family=League+Spartan:wght@700&family=Orbitron&family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;1,300&family=Raleway:wght@100&family=Roboto:ital,wght@0,400;1,700&display=swap');

*{


    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --bg-color:hsl(180, 52%, 96%);
    --filter-table-color: hsl(180, 31%, 95%);
    --header-bg-color:  hsl(180, 29%, 50%);
}
body{
    background-color: var(--bg-color);
    font-family: 'Josefin Sans', sans-serif;
font-family: 'Kumbh Sans', sans-serif;
font-family: 'League Spartan', sans-serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;

}
/* the foolwoing are sablity classes */
.flex{
    display: flex;
}
h2{
    color: var(--header-bg-color);
    font-weight: bold;
    font-size: 1.3rem;
    cursor: pointer;
    /* text-shadow: 0px 0px 1px black; */
}
h3{
    font-size: 1rem;
}
p{
    font-size: .8rem;
}

button{
    border: none;
    background-color: white;
    text-decoration: underline;
    margin-right: 10px;
}
button:hover{
    cursor: pointer;
    text-decoration: underline;
    color: var(--header-bg-color);

}

/*the following is the styles for the header box  */
header{
    background-image: url('images/bg-header-desktop.svg');
    height: 150px;
    background-color: var(--header-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.filter-container-father{
    width: 90%;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    top: 80px;
    position: relative;
}
.filter-container{
    overflow: hidden;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 20px 10px;
    border-radius: 10px;
    gap: 10px;
}
.filter-box{
    align-items: center;
    display: flex;
    background-color: var(--bg-color);
    border-radius: 3px;
    gap: 10px;

}

.filter-box p{
    padding: 0px 5px;
}

.filter-box div{
 padding: 5px;
 display: flex;
 background-color: var(--header-bg-color);
 border-top-right-radius: 3px;
 border-bottom-right-radius: 3px;
 
}
.filter-box svg:hover, .filter-box div:hover{
    background-color: black;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
}




/* The following code is for main body */
.job-list-container{
    overflow-y: auto;
    
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    width: 90%;
    gap: 10px;
    overflow: scroll;
    height: 65vh;
    border-radius: 10px;
}
.job-list-container::-webkit-scrollbar{
    display: none;
}

  

.job-list-box{
    z-index: 10;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    border-radius: 10px;
    z-index: 500;
    background-color: white;
    /* box-shadow: 0px 0px 100px rgb(114, 111, 111); */
    padding: 10px;
}
.job-list-box:hover{
    border-left: 5px solid var(--header-bg-color);
}

.right-box{
    margin-left: auto;
    gap: 10px;
    display: flex;

}
.right-box div{
    padding: 5px;
    color: var(--header-bg-color);
}
.right-box div:hover{
    background-color: var(--header-bg-color);
    cursor: pointer;
    color: white;
}
.middle-box{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 5px;
}
.bottom-div{
    gap: 10px;
}
.top-div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.new{
    color: white;
    background-color: var(--header-bg-color);
    padding: 2px 4px;
    border-radius: 5px;
}
.featured{
    color: rgb(225, 215, 215);
    background-color: rgb(33, 31, 31);
    padding: 2px 4px;
    border-radius: 5px;
}
